body{
    position: relative;
    font-size: 16px;
}
.drop-shadow {
    -webkit-box-shadow: 0 0 5px 2px rgba(117, 112, 112, 0.452);
    box-shadow: 0 0 5px 2px rgba(117, 112, 112, 0.452);    
}
.drop-shadow h4:first-child{
    padding: 10px;
    border-bottom: 3px solid #5db2ff;
}
.input-field{
    height: 40px;
}
.file-upload-input{
    visibility: hidden;
}
.file-upload-button{
    border: 2px solid #18BB7C;
    height: 40px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: transparent;
    font-weight: bolder;
    font-size: 14px;
}
.file-upload-button:hover,
.profile-info-save-button:hover{
    background-color:  #18BB7C;
    color: white;
}
.profile-info-save-button{
    height: 40px;
    width: 70px;
    background-color: transparent;
    border: 2px solid #18BB7C;
    border-radius: 10px 0px;
    margin-left: 15px;
    font-size: 14px;
}
.info-update-rows{
    margin: 30px 0px;
}