
  <div class="container-fluid">
    <h3>Basic Info</h3>
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="drop-shadow">
        <h4>Personal Infromation</h4>
        <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <br/>
            <span>Name :</span>
            <br/>
            <br/>
            <span>Email :</span>
            <br/>
            <br/>
            <span>Mobike :</span>
            <br/>
            <br/>
        </div> 
        <div class="col-md-6">
            <br/>
            <span>Phani</span>
            <br/>
            <br/>
            <span>Phani1695@gmail.com</span>
            <br/>
            <br/>
            <span>8977147129</span>
            <br/>
            <br/>
        </div>
      </div>
    </div>
    </div>
    <div class="col-md-1"></div>
  </div>

  <div class="container-fluid">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="drop-shadow">
            <h4>Basic Infromation</h4>
            <div class="row info-update-rows">
            <div class="col-md-5 col-md-offset-1">
              <span>Date of Birth :</span>
            </div> 
            <div class="col-md-6">
              <input class="col-md-10 input-field" type="date">
            </div>
          </div>
          <div class="row info-update-rows">
            <div class="col-md-5 col-md-offset-1">
                <span>Upload-Resume:</span>
            </div> 
            <div class="col-md-6"> 
                <span class="">Click Here To Choose a File</span>   
                <div class=""><i class="fa fa-paperclip"></i> No File Choosen</div>  
                <input class="file-upload-input" type="file">
                <button class="col-md-10 file-upload-button">Update</button>
            </div>
          </div>
          <div class="row info-update-rows">
            <div class="col-md-5 col-md-offset-1">
                <span>Self Introduction Video :</span>
            </div> 
            <div class="col-md-6 "> 
                <span class="">Click Here To Choose a File</span>   
                <div class=""><i class="fa fa-paperclip"></i> No File Choosen</div>  
                <input class="file-upload-input" type="file">
                <button class="col-md-10 file-upload-button">Update</button>
            </div>
          </div>
          <div class="row info-update-rows" >
            <div class="col-md-5 col-md-offset-1">
                <span>Languages Known :</span>
            </div> 
            <div class="col-md-6">
                <input class="col-md-10 input-field" type="text" placeholder="addTag">
            </div>
          </div>
          <div class="row info-update-rows">
            <div class="col-md-5 col-md-offset-1">
                <span>Skills:</span>
            </div> 
            <div class="col-md-6">
                <input class="col-md-10 input-field" type="text" placeholder="addTag">
            </div>
          </div>
          <div class="row info-update-rows">
            <div class="col-md-5 col-md-offset-1">
                <span>ProfileSummary :</span>
            </div> 
            <div class="col-md-6">
                <textarea class="col-md-10" rows="3" type="text" placeholder="Add Tag"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 col-md-offset-10">
                <button class="profile-info-save-button">Save ≫</button>
            </div>
            
          </div>
          
        </div>
        </div>
        <div class="col-md-1"></div>
      </div>
