<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student Eduction</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="studentProject.css">
</head>
<body>
        <div class="container-fluid">
                <h3>Projects</h3>
                <div class="col-md-1"></div>
                <div class="col-md-10">
                  <div class="drop-shadow">
                    <h4>Projects</h4>
                    <div class="row">
                        <div class="col-md-6">
                        <div class="col-md-4 ">
                            <span><b>Project1</b></span>
                        </div>
                        <div class="col-md-4 col-md-offset-4">
                            <span class="data-edit">Edit</span><span><i class="fa fa-pencil-square-o"></span></i></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-4 ">
                            <span><b>Project2</b></span>
                        </div>
                        <div class="col-md-4 col-md-offset-4">
                            <span class="data-edit">Edit</span><span><i class="fa fa-pencil-square-o"></span></i></span>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                    <form>
                    <div class="col-md-5">
                        <input type="text" class="col-md-12 form-control" placeholder="ProjectName">
                        <textarea class="col-md-12 form-control" rows="3" type="text" placeholder="ProjectDiscription"></textarea>
                        <input type="date" class="col-md-12 form-control">
                        <input type="date" class="col-md-12 form-control">
                        <input type="text" class="col-md-12 form-control" placeholder="ProjectResponsebilites">
                        <div class=" form-group">
                        <select class="col-md-12 form-control">
                            <option value="Institution">SelectDomain</option>
                            <option value="#">Java</option>
                            <option value="#">Anjularjs</option>
                            <option value="#">Php</option>
                            <option value="#">DataAnalist</option>
                            <option value="#">Cloud</option>
                            <option value="#">Others</option>
                        </select>
                        </div>
                  </div>    
                  </form>
                  <form>
                    <div class="col-md-5 col-md-offset-1">
                        <input type="text" class="col-md-12 form-control" placeholder="ProjectName">
                        <textarea class="col-md-12 form-control" rows="3" type="text" placeholder="ProjectDiscription"></textarea>
                        <input type="date" class="col-md-12 form-control">
                        <input type="date" class="col-md-12 form-control">
                        <input type="text" class="col-md-12 form-control" placeholder="ProjectResponsebilites">
                        <div class=" form-group">
                        <select class="col-md-12 form-control">
                            <option value="Institution">SelectDomain</option>
                            <option value="#">Java</option>
                            <option value="#">Anjularjs</option>
                            <option value="#">Php</option>
                            <option value="#">DataAnalist</option>
                            <option value="#">Cloud</option>
                            <option value="#">Others</option>
                        </select>
                        </div>
                        </div> 
                    </form>
                    </div>

                <div class="row">
                    <div class="col-md-6">
                        <button class="education-details-button">Add ≫</button>
                    </div>
                    <div class="col-md-2 col-md-offset-4">
                        <button class="education-details-button">Save ≫</button>
                    </div>
                    </div>
                </div>
            </div>
                <div class="col-md-1"></div>
              </div>          
</body>